.btn-back {
    color: black;
}
.image-bottom {
    margin-bottom: 10px;
}
.color-red {
    color: red;
}
.text-justify {
    text-align: justify;
}
.padding-none {
    padding: 0;
}
.padding-bottom {
    padding-bottom: 9px;
}