.text-justify {
    text-align: justify;
}
.text-center {
    text-align: center;
}
.font-smaller {
    font-size: smaller;
}
.font-small {
    font-size: small;
}
.font-medium {
    font-size: medium;
}
.font-large {
    font-size: large;
}
.font-larger {
    font-size: larger;
}
.line-bottom {
    margin-bottom: 13px;
}
#c_scheme {
    display: none;
}
.image-large-post {
    width: 800px;
    height: 600px;
}
.image-post {
    width: 360px;
    height: 150px;
}
.image-slideshow-small {
    width: 250px;
    height: 130px;
}
.height-select-position {
    height: 44px;
}
.picture-custom {
    width: 360px;
    height: 150px;
    text-align: center;
}
.width50 {
    width: 50% !important;
}
.margin-line-menu li {
    margin-bottom: 80px;
}
.size-quantity {
    width: 50%;
    text-align: center;
    color: red;
    font-weight: bold;
}