.btn-back {
    color: black;
}
.image-bottom {
    margin-bottom: 10px;
}
.color-red {
    color: red;
}
.text-justify {
    text-align: justify;
}
.padding-none {
    padding: 0;
}
.padding-bottom {
    padding-bottom: 9px;
}.text-justify {
    text-align: justify;
}
.text-center {
    text-align: center;
}
.font-smaller {
    font-size: smaller;
}
.font-small {
    font-size: small;
}
.font-medium {
    font-size: medium;
}
.font-large {
    font-size: large;
}
.font-larger {
    font-size: larger;
}