<div class="social-bookmarking-wrapper">
    <ul class="social-bookmarking">
        <li>
            <%= link_to "", "https://www.facebook.com/Chay-V%C3%AC-S%E1%BB%A9c-Kh%E1%BB%8Fe-961376170549657/?ref=hl", class: "fb hvr-float-shadow", target: "_blank" %>
        </li>
        <li>
            <%= link_to "", "https://www.youtube.com/channel/UCcu6igcwE1i1mbfGhRRUxOA/videos", class: "yt hvr-float-shadow", target: "_blank" %>
        </li>
        <li>
            <%= link_to "", "https://plus.google.com/b/105583081867906392941/105583081867906392941/posts?gmbpt=true&pageId=105583081867906392941", class: "gp hvr-float-shadow", target: "_blank" %>
        </li>
    </ul>
</div>