<article>
    <h3><strong>NHÀ HÀNG CHAY VÌ SỨC KHỎE</strong> <button type="button" class="btn btn-danger btn-sm pull-right">X</button></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Tên món ăn</th>
                <th>Giá tiền</th>
                <th>Mô tả</th>
                <th class="text-center">Xóa</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Cơm tấm chay</td>
                <td>20.000đ</td>
                <td>ABC XYZ</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-xs">X</button>
                </td>
            </tr>
            <tr>
                <td>Cơm tấm chay</td>
                <td>20.000đ</td>
                <td>ABC XYZ</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-xs">X</button>
                </td>
            </tr>
            <tr>
                <td>Cơm tấm chay</td>
                <td>20.000đ</td>
                <td>ABC XYZ</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-xs">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right">
      <strong>Tổng tiền: </strong><p class="label label-primary">250.000đ</p>
    </div>
</article>
<hr/>
<article>
    <h3><strong>NHÀ HÀNG CHAY VÌ SỨC KHỎE</strong> <button type="button" class="btn btn-danger btn-sm pull-right">X</button></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Tên món ăn</th>
                <th>Giá tiền</th>
                <th>Mô tả</th>
                <th class="text-center">Xóa</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Cơm tấm chay</td>
                <td>20.000đ</td>
                <td>ABC XYZ</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-xs">X</button>
                </td>
            </tr>
            <tr>
                <td>Cơm tấm chay</td>
                <td>20.000đ</td>
                <td>ABC XYZ</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-xs">X</button>
                </td>
            </tr>
            <tr>
                <td>Cơm tấm chay</td>
                <td>20.000đ</td>
                <td>ABC XYZ</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-xs">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right">
      <strong>Tổng tiền: </strong><p class="label label-primary">250.000đ</p>
    </div>
</article>
<hr/>
<a class="tl-button dark pull-left">CHỌN MÓN KHÁC</a>
<%= link_to "ĐẶT HÀNG", confirm_order_homes_path, class: "tl-button red pull-right" %>